---
Language:        Cpp
BasedOnStyle:  Google
IndentWidth:     4

BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterFunction: true
  AfterClass: true
  SplitEmptyFunction: false
  AfterControlStatement: true

AccessModifierOffset: -4
